<!doctype html>

<html>
	<head>
		<title>{{ the_title }}</title>
		<link rel="stylesheet" href="/static/dscd.css" />
	</head>
	<!-- Se ha usado la etiqueta script de HTML para poder introducir un codigo en javascript que permita modificar
	la hora del reloj que se crea en la pagina web, ayuda obtenida de Internet-->
	<script>
		function actualizar() { //función del temporizador
			fecha=new Date(); //Actualizar fecha.
			hora=fecha.getHours(); //hora actual
			minuto=fecha.getMinutes(); //minuto actual
			segundo=fecha.getSeconds(); //segundo actual
			if (hora<10) { //dos cifras para la hora
				hora="0"+hora;
			}
			if (minuto<10) { //dos cifras para el minuto
				minuto="0"+minuto;
			}
			if (segundo<10) { //dos cifras para el segundo
				segundo="0"+segundo;
			}
			mihora=hora+" : "+minuto+" : "+segundo;
			mireloj=document.getElementById("reloj"); //buscar elemento reloj
			mireloj.innerHTML=mihora; //incluir hora en elemento
		}
		setInterval(actualizar,1000); //iniciar temporizador
	</script>
	<body>
		<div id="reloj">
		</div>
		{% block body %}

		{% endblock %}
	</body>
</html>
