{% extends 'base.html' %}

{% block body %}
<button onclick="location.href='/login'" class = "button" > X </button>
<h2><p style="color: white">{{ the_title }}</p></h2>
    <form method="post" action="/search">
    <table>
        <p style="color: white">
            Use this form to submit a search request:
        </p>
        <tr><td>Phrase:</td><td><input name="phrase" type="TEXT" width="60"></td></tr>
        <tr><td>Letters:</td><td><input name="letters" type="TEXT" width="60"></td></tr>
        <input name = "user" type = "hidden" value = {{the_user}}>
    </table>
    <p style="color: white">When you are ready, click start button:</p>
    <p><input value="START" type="SUBMIT"></p>
    </form>
    <h3><p style="color: white">STADISTICS: </p></h3>
    <table>
        <tr><td> Phrase most used for all user is: </td> <td> {{the_most_used_phrase}}</td> </tr>
        <tr><td> Letters most used for all user is: </td> <td> {{the_most_used_letter}}</td> </tr>
    </table>
{% endblock %}