{% extends 'base.html' %}

{% block body %}
<h2><p style="color: white">{{ the_title }}</p></h2>
    <form method="post" action="/search">
    <table>
        <p style="color: white">
            Use this form to submit a search request:
        </p>
        <tr><td>Phrase:</td><td><input name="phrase" type="TEXT" width="60"></td></tr>
        <tr><td>Letters:</td><td><input name="letters" type="TEXT" width="60"></td></tr>
        <input name = "user" type = "hidden" value = {{the_user}}>
    </table>
    <p style="color: white">When you are ready, click start button:</p>
    <p><input value="START" type="SUBMIT"></p>
    </form>
{% endblock %}